{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 2,
    "endOfLine": "auto",
    "arrowParens": "avoid",
    "tailwindEntryPoint": "./src/app/globals.css",
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}